@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
	--font-family: "Inter", sans-serif;

  --color-primary: #4caf4f;
  --color-secondary: #263238;
  --color-silver: #F5F7FA;
  --color-gray: #ABBED1;
  --color-white: #fff;
	
}
